* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.2rem;
}
.tab-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  background: none;
  color: white;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.219);
  cursor: pointer;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./resources/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -2;
  height: 100vh;
  filter: brightness(0.6);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./resources/bg-overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
  opacity: 0.2;
}
.gem-container {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  display: grid;
  place-items: center;
}
.gem-container img {
  width: 50px;
}
.separator {
  width: 1px;
  height: 60px;
  border: 1px solid white;
}
.text-container {
  width: 100%;
}
.tab-main .text-container h1 {
  font-size: min(6vw, 72px);
  text-align: center;
  margin: 0 2rem;
  padding: 2rem;
  border-top: 1px solid white;
}

.tab-main .text-container p {
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  margin: 0 2rem;
}

.tab-main .text-container p a {
  color: white;
  text-decoration-style: dotted;
}

.tab-main .text-container p a:hover {
  color: rgb(73, 104, 189);
}

.tab-container {
  display: flex;
}
.tab-container button {
  border: 1px solid white;
  padding: 1rem 0;
  text-align: center;
  width: 150px;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.tab-overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.253);
  width: 100%;
  padding: 3rem;
  max-width: 1000px;
  height: fit-content;
}

.tab-overlay header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.tab-overlay header h2 {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.tab-overlay .video-container {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
}
.tab-overlay .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.tab-overlay .text-container {
  padding: 1.5rem 0;
}
.tab-overlay .text-container p {
  letter-spacing: normal;
}

.icon {
  width: 50px;
}

.small-icon {
  width: 25px;
}

.hidden {
  display: none;
}

.transparent {
  border: none;
}
.transparent:hover {
  background: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 600px) {
  .text-container p {
    text-align: start;
  }
  .tab-container {
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
  }

  .tab-container button {
    width: 100%;
  }
}
